<tr>
  <td><%= party.name %></td>
  <td><%= link_to 'Show', party %></td>
  <td><%= link_to 'Edit', edit_party_path(party) %></td>
  <td><%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
