<div class="mb-8 bg-white border-orange-900 border-solid border-2 p-4 shadow text-body text-lg w-2/3 mx-auto text-orange-900">
  <h1 style="line-height: 4rem" class="text-6xl font-bold text-center mb-8 text-medieval leading-10 text-orange-900">
    Welcome to the
    <br>
    <%= @party.name %>!
  </h1>
  <%= @party.description %>
</div>

<h2 class="text-medieval text-5xl text-orange-900 mb-8 mt-12 leading-10 text-center">Guest list</h2>
<div class="flex flex-wrap">
  <%  @invitations.each do |invitation| %>
    <%= render InvitationComponent.new(invitation: invitation) %>
  <% end %>
</div>
