<div class="rounded-full w-20 h-20 shadow bg-orange-300 flex items-center justify-center">
  <span class="text-3xl font-black text-medieval text-orange-800">
    <%= avatar_content %>
  </span>
</div>
