@import "tailwindcss/base";
@import "tailwindcss/components";

.text-medieval {
  font-family: 'UnifrakturCook', cursive;
}

.text-body {
  font-family: 'Unna', serif;
}

.trix-content {
  font-family: 'Unna', serif;
  font-size: 1.25rem;
}
  @import "tailwindcss/utilities";
  @import '@fortawesome/fontawesome-free';
